<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalTitle">
          {{ "changeKdf" | i18n }}
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          appA11yTitle="{{ 'close' | i18n }}"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        [appApiAction]="formPromise"
        ngNativeValidate
        autocomplete="off"
      >
        <div class="modal-body">
          <bit-callout type="warning">{{ "changeKdfLoggedOutWarning" | i18n }}</bit-callout>

          <pre>{{ kdfConfig | json }}</pre>
          <pre>{{ kdf | json }}</pre>
          <div class="row">
            <div class="col-12">
              <bit-form-field class="tw-mb-1"
                ><bit-label>{{ "masterPass" | i18n }}</bit-label>
                <input bitInput type="password" required formControlName="masterPassword" />
                <button
                  type="button"
                  bitSuffix
                  bitIconButton
                  bitPasswordInputToggle
                  [(toggled)]="showPassword"
                ></button
                ><bit-hint>
                  {{ "confirmIdentity" | i18n }}
                </bit-hint></bit-form-field
              >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button bitButton buttonType="primary" type="submit" [loading]="loading">
            <span>{{ "changeKdf" | i18n }}</span>
          </button>
          <button bitButton buttonType="secondary" type="button" data-dismiss="modal">
            {{ "cancel" | i18n }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
